<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>查询页面</title>
</head>
<body>
查询成功
<!--    <th th:object="${user}">user</th>-->


    <th th:each="list:${ListUser}">
        <input th:value="${list.getPhone_id()}">
        <input th:value="${list.getUser_name()}">
    </th>



<!--    <div>-->
<!--        <p th:text="${user.getPhone_id()}"/>-->
<!--        <p th:text="${user.getUser_name()}"/>-->
<!--    </div>-->
<!--    <th th:object="${user.getPhone_id()}"/>-->
<!--    <th th:object="${user.getUser_name()}"/>-->
<!--        <th th:object="${user.getUser_name()}"></th>-->
<!--        <th th:object="${user.getPhone_id()}"></th>-->

<!--        <th th:text="*{user.getPhone_id()}"></th>-->
<!--        <th th:text="${user.getUser_name()}"></th>-->




</body>
</html>