<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Title</title>
</head>
<body>
    <th th:object="${gameUser1}">
        <th th:text="*{gameUser1.getPhone_id()}"><br/>
        <th th:text="*{gameUser1.getUser_name()}"><br/>
<!--        <th th:text="*{gameUser1.getVip()}"><br/>-->
    </th>

<!--    <th th:each="list:${ListUser}">-->
<!--        <input th:value="${list.getPhone_id()}">-->
<!--        <input th:value="${list.getUser_name()}">-->
<!--    </th>-->


</body>
</html>