<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8">
    <title>welcome this memu！</title>
</head >

<body>


<!--<div id="login" width="200px" height="40px"  >-->

<!--    <form action="/User/addUser" method="post">-->
<!--        <label>注册</label>-->
<!--        Name:<input name="Name" type="text"/>-->
<!--        Pwd:<input name="Pwd" type="text"/>-->
<!--        Phone:<input name="Id" type="text" />-->
<!--        <input  type="submit" name="注册"/>-->
<!--    </form>-->
<!--</div>-->
<!--    <form action="/User/loginTo" method="post">-->
<!--        <label>登录</label>-->
<!--        Phone:<input name="Id" type="text" />-->
<!--        Pwd:<input name="Pwd" type="text"/>-->
<!--        <input  type="submit" name="登录" />-->
<!--    </form>-->

    请注意，有2中注册登录方式，且两种方式不能共通

    <form action="/NUser/register" method="post">
        <label>注册</label>
        <input name="Id" type="text">
        <input name="Name" type="text">
        <input name="Pwd" type="text">
        <input name="提交" type="submit">
    </form>

    <form action="/NUser/login" method="post">
        <label>登录</label>
        <input name="Id" type="text">
        <input name="Name" type="text">
        <input name="Pwd" type="text">
        <input name="提交" type="submit">
    </form>





</body>
</html>