<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.y.demo.dao.GameDao">


<!--                       用户                        -->
<!--    insert -->
    <insert id="addUser" parameterType="com.y.demo.entiy.GameUser" >
        insert into user(user_name,user_pwd,phone_id,vip,user_status)
        values(#{user_name},#{user_pwd},#{phone_id},#{vip},#{user_status})
    </insert>
<!--    select -->
    <select id="queryByUserId" parameterType="int" resultType="com.y.demo.entiy.GameUser">
        select * from user where phone_id = #{phone_id}
    </select>
    <select id="queryByUserName" parameterType="String" resultType="com.y.demo.entiy.GameUser">
        select * from user where user_name like concat('%',#{username},'%')
    </select>
<!--    delete -->
    <delete id="deleteByUserId" parameterType="int" >
        delete from user where phone_id = #{phone_id}
    </delete>
<!--    update -->
    <update id="updateById" parameterType="com.y.demo.entiy.GameUser">
        update user <trim prefix="set" suffixOverrides=",">
            <if test="user_name != null "> user_name = #{user_name},</if>
    </trim>
    where phone_id=#{phone_id}
    </update>

    <update id="addVip" parameterType="com.y.demo.entiy.GameUser">
        update user set vip = #{vip} where phone_id = #{phone_id}
    </update>



<!--                        装备                        -->

<!--  select -->
    <select id="queryEquip" parameterType="int" resultType="com.y.demo.entiy.GameEquip">
        select * from equip where equip_id = #{equip_id}
    </select>
    <select id="queryEquipByName" parameterType="String" resultType="com.y.demo.entiy.GameEquip">
        select * from equip where equip_name = #{equip_name}
    </select>
    <select id="queryAllEquip" resultType="com.y.demo.entiy.GameEquip">
        select * from equip
    </select>
    <select id="queryEquipByPhoneId" parameterType="int" resultType="com.y.demo.entiy.GameEquip">
        select  equip_id,equip_name from equip inner join user on equip.equip_id = user.user_equip order by equip_id
    </select>
    <select id="queryUser_Equip" parameterType="int" resultType="int" >
        select user_equip from user  where phone_id = #{phone_id}
    </select>
<!--    insert -->
    <insert id="addEquip" parameterType="com.y.demo.entiy.GameEquip">
        insert into equip(equip_id,equip_name) values(#{equip_id},#{equip_name})
    </insert>
<!--    delete -->
    <delete id="deleteEquip" parameterType="com.y.demo.entiy.GameEquip">
        delete from equip where equip_id = #{equip_id}
    </delete>
<!--    update -->
    <update id="updateEquip_id" parameterType="com.y.demo.entiy.GameUser" >
        update user set user_equip = #{user_equip} where phone_id = #{phone_id}
    </update>



<!--                       Friend                       -->

<!--    select-->
    <select id="queryFriend" parameterType="int" resultType="com.y.demo.entiy.GameFriend">
        select friend_id,friend_name from friend inner join user on friend.friend_id = user.user_friend order by friend_id
    </select>
    <select id="queryUser_Friend" parameterType="int" resultType="int">
        select user_friend from user where phone_id = #{phone_id}
    </select>

<!--    实质是将friend设置为0 -->
    <update id="deleteFriend" parameterType="com.y.demo.entiy.GameUser">
        update user set user_friend = #{user_friend} where phone_id = #{phone_id}
    </update>


</mapper>